{% extends 'base.html.twig' %}
{% block body %}
    {{ form_start(form) }}

    {{ form_widget(form) }}

    {{ form_end(form) }}

    Dostupne domene:<br>
    {% for post in scrapes %}
        <a href="{{ path('screpenet_add_domain', {'name': post.escape_url}) }}">{{ post.url }}</a> <br/>
    {% endfor %}
{% endblock %}